# TensorFlow and related dependencies
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorboard==1.14.0

# Data handling and scientific computing
numpy==1.19.5  # Compatible with older TensorFlow
scipy==1.5.4
pandas
biopython

# Machine learning and data analysis tools
scikit-learn==0.24.0
umap-learn
tslearn
statsmodels

# NLP and sequence analysis
seqeval
pyahocorasick
sentencepiece==0.1.91

# Visualization tools
matplotlib
seaborn
tqdm
wordcloud
stylecloud
tensorboardX

# Bioinformatics
pybedtools

